@import '../../common/base.less';
.AnchorStore{
    .lecturer{
        margin-top: 10px;
    }
    .anchore-img{
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
