@import "../../common/theme.less";
.H5Live {
    position: relative;
    .top-con {
        position: absolute;
        // background: transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 2;
        padding: 10px;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        box-sizing: border-box;
        .left-con {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            padding-right: 15px;
            .header {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .name {
                font-size: 11px;
                margin-bottom: 3px;
            }
            .view {
                font-size: 9px;
            }
        }
        .down-con {
            background: #fccd12;
            padding: 3px 10px;
            font-size: 11px;
            color: #333;
            border-radius: 10px;
        }
        .room-id-con {
            font-size: 11px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 4px 10px;
            margin-top: 10px;
            display: inline-block;
        }
    }
    .bag-con {
        position: absolute;
        right: 10px;
        top: 30%;
        font-size: 10px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 54.4px;
        height: 61.6px;
        color: #fff;
        text-align: center;
        div {
            padding-bottom: 2px;
        }
        .bottom-bag {
            padding-bottom: 5px;
        }
    }
    .bottom-con {
        background: transparent;
        position: absolute;
        z-index: 2;
        padding: 10px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        bottom: 10px;
        .scroll-con {
            overflow-y: auto;
            max-height: 50vh;
            width: 60%;
            box-sizing: border-box;
            margin-bottom: 20px;
            .vip {
                width: 8px;
                height: 8px;
                margin-right: 5px;
                vertical-align: baseline;
            }
            .vip-con {
                margin-right: 5px;
                background: #e75953;
                border-radius: 10px;
                padding: 1px 8px;
                font-size: 11px;
                color: #fff;
                display: inline-block;
                line-height: 11px;
            }
        }
        .tips {
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.4);
            font-size: 11px;
            line-height: 18px;
            color: #e75953;
            padding: 5px;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            padding-left: 10px;
        }
        .info-con {
            width: 100%;
            padding: 5px;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.7);
            .label {
                font-size: 13px;
                padding-left: 5px;
            }
            .invite-con {
                background: #ffcb02;
                border-radius: 15px;
                padding: 5px 20px;
            }
        }
        .left-con,
        .right-con {
            padding: 0 10px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
        .left-con {
            img {
                margin-right: 10px;
            }
        }
        .right-con {
            img {
                margin-left: 10px;
            }
        }
    }
    .vcp-error-tips {
        font-size: 13px;
        color: #fff;
        // background: rgba(255, 255, 255, 0.7);
    }
    .carousel-con {
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 1;
    }
}
