@import '../../common/theme.less';
.ProductIssue{
	::-webkit-input-placeholder{
		font-size: 14px;
		color: #999;
	}
	.am-input-label,.mainTit{
		font-size: 14px;
		color: #333;
		em{
			color: @brand-primary;
		}
	}
	.productBasic{
		.am-list-item{
			padding-left: 0;
			.am-list-line{
				padding-left: 15px;
			}
		}
		.am-input-control{
			input{
				text-align: right;
				font-size: 14px;
				color: #333;
			}
			.fake-input,.fake-input-placeholder{
				font-size: 14px;
			}
		}
		.am-input-clear{
			margin-left: 5px;
		}
		.am-list-content{
			font-size: 14px;
			color: #333;
		}
		.pick-item{
			.am-list-extra{
				font-size: 13px;
			}
			em{
				color: @brand-primary;
			}
		}
		.discounts-item{
			.am-list-line{
				-webkit-box-pack: justify;
				justify-content:space-between;
			}
			.am-list-extra{
				-webkit-box-pack:end;
				justify-content:flex-end;
				-ms-flex-preferred-size: 70%;
				flex-basis: 70%;
				.am-input-item{
					.am-list-line{
						&:after{
							height:0;
						}
					}
					.am-list-line{
						.fake-input-container{
							width: 40px;
						}
					}
				}
			}
		}
		.city-rate-item .am-input-label{
			width:140px;
		}
	}
	.productImg{
		padding: 20px 15px;
		background: #fff;
		.am-image-picker{
			margin-top: 16px;
		}
		.upImgTips{
			font-size: 14px;
			color: #999;
		}
		.productDetailInfo{
			padding-left: 0;
			min-height: 44px;
			font-size: 14px;
		}
	}
}
