*{
	outline: none !important;
	font-family: '微软雅黑';
	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-touch-callout:none;
	user-select:none;
 	-webkit-text-size-adjust:none;
}
textarea{
	user-select: text;
	-webkit-user-select: text;
	resize: none;
}
ul,ol,dl,li{
	list-style: none;
}
em{
	font-style: normal;
}
a{
	text-decoration: none;
}
html,body,.App{
	height:100%;
	width:100%;
	background: #f3f3f3;
}

//基础
.base-line{
	position: relative;
	&:after{
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		content: '';
		background-color: #f5f5f5;
	}
}
.base-content{
	height:calc(~'100vh - 45px');
	overflow:scroll;
}
.ellipsis{
	display: -webkit-box;
	// eslint-disable-next-line
    /* autoprefixer: off*/
	-webkit-box-orient: vertical;
    /* autoprefixer: on*/
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.ellipsis2{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-line-clamp: 2;
	// eslint-disable-next-line
	/* autoprefixer: off*/
	-webkit-box-orient: vertical;
	/* autoprefixer: on*/
}

//覆盖am
.am-navbar{
	img{
		height: 20px;
	}
}
