@import "../../common/theme.less";
.recommend-goods {
    &Item {
        margin-bottom: 10px;
        width: calc(~"50% - 5px"); //48%;
        &.sale-item {
            background: #fff;
        }
        &:nth-child(2n) {
            margin-left: 10px;
        }
        &-img {
            img {
                width: 100%;
                display: block;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        &-body {
            padding: 10px 15px;
            background: #f7f7f7;
            box-shadow: inset 0 0 0 0 #f0f0f0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &-title {
            margin-bottom: 5px;
            line-height: 17px;
            height: 36px;
            font-size: 13px;
            color: #333;
        }
        .goodsPrice {
            font-size: 16px;
            color: #333;
        }
        .am-button {
            position: unset !important;
        }
        .sale-num {
            font-size: 14px;
            color: #333;
            font-weight: 500;
        }
    }
}
